body {
    background: white;
    font-size: xx-large;
    margin: 3%;
}

div#header {
    margin-left: auto;
    margin-right: auto;
    width: 25%
}

.vl-list {
    margin: 3%;
}

.vl-card {
    width: 100%;
}

.vl-img {
    text-align: center;
    width: 1px;
}

.vl-img img {
    width: 180px;
}

.vl-title-row {
    height: 100%;
}

.vl-title {
    vertical-align: top;
    xwidth: 50%;
    overflow: hidden;
}

.vl-quality-row {
    height: 1px;
}

.vl-quality {
	font-size: large;
	list-style: none;
}

.vl-delete-row {
    height: 1px;
}

.vl-delete {
    font-size: large;
    text-align: right;
    height: 1px;
}