<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>
<html>
    <head>
    	<meta http-equiv="content-type" content="application/ce-html+xml; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" href="/static/list.css"/>
        <title>Video Listing</title>
    </head>
  <body>
    <div id="header">
        <a href="javascript:window.location.reload()">Reload</a> &mdash; <a href="/tvlogout">Logout</a>
    </div>
    <div class="vl-list">
    {% for video in videos %}
    <table class="vl-card">
        <tr class="vl-title-row">
            <td rowspan="3" class="vl-img"><img src="{{ video.thumb }}" alt="Thumbnail"/></td>
            <td class="vl-title">{{ video.title }}</td>
        </tr>
        <tr class="vl-quality-row">
            <td class="vl-quality">
    	    {% for url in video.urls|dictsortreversed:"quality" %}
			<a href="/player?key={{ video.key }}&quality={{ url.quality }}">{{ url.quality }}</a>&nbsp;
			{% endfor %}
            </td>
        </tr>
        <tr class="vl-delete-row">
            <td class="vl-delete"><a href="/delete?key={{ video.key }}">delete</a></td>
        </tr>
    </table>
    {% endfor %}
    </div>
  </body>
</html>