<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		
		<script language="javascript" type="text/javascript" src="/static/player-smarttv.js"></script>
		<script language="javascript" type="text/javascript" src="$MANAGER_WIDGET/Common/API/TVKeyValue.js"></script>
		
        <style type="text/css">
            body {
                background: black;
            }
        </style>
		
		<script type="text/javascript">
			function init() {
				if (Player.init()) {
					document.getElementById("anchor").focus();
					Player.setVideoURL("{{ url }}");
					Player.playVideo();
				}
			}
			
			function keyDown() {
				var keyCode = event.keyCode;
				    
				switch(keyCode) {
					case tvKey.KEY_PLAY:
						Player.playVideo(); break;
					case tvKey.KEY_PAUSE:
						Player.pauseVideo(); break;
					case tvKey.KEY_STOP:
						window.history.back(); break;
					default:
						break;
				}
			}
			
			function handlePauseKey() {
				switch ( Player.getState() ) {
					case Player.PLAYING:
						Player.pauseVideo();
						break;
            
					case Player.PAUSED:
						Player.resumeVideo();
						break;
					default:
						break;
				}
			}
		</script>
		
		<object id="pluginPlayer" border=0 classid="clsid:SAMSUNG-INFOLINK-PLAYER" style="position:absolute;   z-index:99;left:458px;top:58px;width:472px;height:270px"></object>
    </head>
    <body onload="init();">
		<a href='javascript:void(0);' id='anchor' onkeydown='keyDown();'></a>
    </body>
</html>