<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <style type="text/css">
            body {
                background: black;
            }
        </style>
		<script type="text/javascript">
			function init() {
				document.getElementById("video").focus();
			}
		</script>
    </head>
    <body onload="init();">
        <center>
        <video height="100%" width="100%" src="{{ url }}" autoplay="true" poster="{{ thumb }}" id="video">
        </video>
        </center>
    </body>
</html>