<html>
    <head>
        <!-- 1. jquery library -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <!-- 2. flowplayer -->
        <script src="http://releases.flowplayer.org/5.1.1/flowplayer.min.js"></script>
        <!-- 3. skin -->
        <link rel="stylesheet" type="text/css" href="http://releases.flowplayer.org/5.1.1/skin/minimalist.css" />
        <script language="javascript">
            $(document).ready(function() {
                var api = flowplayer();
                api.bind("finish", function () {window.history.go(-1);});
                api.fullscreen();    
            });
        </script>
    </head>
    <body>
        <div class="flowplayer">
           <video src="{{ url }}" autoplay poster="{{ thumb }}"></video>
        </div>
    </body>
</html>