<html>
    <head>
        <!-- 1. jquery library -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <!-- 2. flowplayer -->
        <script src="http://releases.flowplayer.org/5.4.3/flowplayer.min.js"></script>
        <!-- 3. skin -->
        <link rel="stylesheet" type="text/css" href="http://releases.flowplayer.org/5.4.3/skin/minimalist.css" />
    </head>
    <body>
        <div class="flowplayer">
            <video>
              <source type="video/mp4" src="{{ url }}"/>
           </video>
        </div>
    </body>
</html>